@charset "ISO-8859-1";

#nomeCliente{
	color:pink;
}

.telaInteira{
	display: flex;
    align-items: center; /*horizontal*/
    justify-content: space-around; /*vertical*/
    flex-direction: row;
    width: 100%;
    height: 100vh;
    background-color: #373737;
    color: white;
}

.divTexto{
	display:flex;
	flex-direction: column;
	justify-content: center; /*vertical*/
   	align-items: center;
}

.campo{
	display: flex;
	flex-direction: column;
	align-items: center;
}

h2{
	align-items: center;
}

.texto{
	display:flex;
	flex-direction: column;
	justify-content: center; /*vertical*/
   	align-items: center;
}

.redesSociais{
	display: flex;
}

.quadroRedesSociais{
	margin: 10px;
}

