@charset "ISO-8859-1";

#nomeCliente{
	color:pink;
}

.telaInteira{
	display: flex;
    align-items: center; /*horizontal*/
    justify-content: space-around; /*vertical*/
    flex-direction: row;
    width: 100%;
    height: 100vh;
    background-color: #373737;
    color: white;
}

.campo{
	display: flex;
	flex-direction: column;
}

.tituloCampo{
	display: flex;
	align-items: center;
}
