<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="4.0">
  <servlet>
    <description></description>
    <display-name>SalvarCliente</display-name>
    <servlet-name>SalvarCliente</servlet-name>
    <servlet-class>controle.SalvarCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SalvarCliente</servlet-name>
    <url-pattern>/SalvarCliente</url-pattern>
  </servlet-mapping>
  <display-name>ProjetoRamenTech</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>controlador</display-name>
    <servlet-name>controlador</servlet-name>
    <servlet-class>controller.controlador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>controlador</servlet-name>
    <url-pattern>/controlador</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Controlador</display-name>
    <servlet-name>Controlador</servlet-name>
    <servlet-class>controller.Controlador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controlador</servlet-name>
    <url-pattern>/Controlador</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Teste</display-name>
    <servlet-name>Teste</servlet-name>
    <servlet-class>controller.Teste</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Teste</servlet-name>
    <url-pattern>/Teste</url-pattern>
  </servlet-mapping>
</web-app>